/* * {
  box-sizing: border-box;
} */

body {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* DIV 1 */
.div-1 {
  grid-column: span 12;
  background-image: url("../images/yellowstone-geysers.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.links {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #ffffff;
  opacity: 0.5;
  text-align: center;
  border-radius: 5px;
  padding: 0 7px 4px 7px;
  box-sizing: border-box;
}

#icons {
  padding: 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

#sub-icons > a > .github {
  margin: 2px;
  position: relative;
  top: 4px;
}

#sub-icons > a > .github {
  height: 22px;
  position: relative;
}

#sub-icons > a > .email,
#sub-icons > a > .linkedin {
  height: 22px;
  position: relative;
  top: 2px;
}

/* HEADER */
header {
  color: #534a33;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 10px;
  z-index: 1;
  padding-top: 8px;
  /* position: fixed; */
}

header p {
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: Courier, monospace;
  font-size: 40px;
  height: 40px;
}

/* HEADER ON SCROLL */
.header {
  opacity: 0.5;
}

/* HEADER ICONS */

.github {
  height: 24px;
  position: relative;
  bottom: 7px;
  margin: 0 8px 0 9px;
}

.email {
  height: 25px;
  position: relative;
  bottom: 7px;
}

header > #icons > a > .github {
  margin: 0 8px 0 9px;
}

.linkedin {
  height: 26px;
  position: relative;
  bottom: 7px;
}

/* PORTFOLIO SECTION */
.card {
  grid-column: span 12;
  background-color: #ffffff;
  margin-bottom: 0;
}

.card-item {
  background-color: #55645c;
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
  padding: 30px;
  padding: 30px;
  padding-bottom: 38px;
  font-family: Courier, monospace;
  border-radius: 10px;
}

.card-item h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
}

.card-item p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 120x;
}

.card-item a {
  text-decoration: none;
  color: #000000;
}

.tech-item {
  height: 50px;
}

.internet {
  height: 19px;
  position: relative;
  top: 1px;
  padding: 7.5px;
  margin-bottom: 5px;
  margin-left: 3px;
}

.github-link {
  margin-bottom: 30px;
}

.devicon-github-plain,
.internet {
  border: 1px solid black;
  border-radius: 5px;
  background: none;
}

.devicon-github-plain:hover,
.internet:hover {
  border: 1px solid grey;
}

.devicon-github-plain {
  padding: 7px;
  box-sizing: content-box;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  bottom: 13px;
}

.tech-icon {
  font-size: 20px;
  line-height: 25px;
}

#see-more-button {
  border: 2px solid #534a33;
  border-radius: 0.5em;
  height: 30px;
  width: 100px;
  margin: 18px auto;
  font-size: 16px;
  font-family: Courier, monospace;
}

#see-more-button:hover {
  background-color: #a9a9a9;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .div-1 {
    height: 200px;
  }

  header p {
    font-size: 32px;
    margin-bottom: 0px;
  }

  header {
    padding-top: 5px;
  }

  .card-item {
    margin: 20px 0 0 0;
    border-radius: 0;
    padding: 20px;
  }

  #icons > a > img {
    color: #55645c;
  }

  .links {
    bottom: 30px;
    left: 10px;
  }
}
