.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
  position: absolute;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

/* DIV 1 - HEADER BACKGROUND */
.div-1 {
  grid-column: span 12;
  background-image: url("../images/yellowstone-geysers.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* HEADER ICONS -- STATIC */
/* scroll style changed in js */
#links {
  position: fixed;
  top: 20px;
  z-index: 1;
  /* to center fixed element horizontally */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#links p {
  color: #534a33;
  margin: 0;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 7px;
  padding: 3px 9px;
  font-size: 34px;
  font-family: Courier, monospace;
  text-align: center;
}

#sub-icons {
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 0 0 7px 7px;
  padding: 2px 10px 6px 10px;
  display: inline-block;
}

#email,
#github,
#linkedin {
  position: relative;
  bottom: 7px;
}

#github {
  height: 22px;
  margin: 0 6px 0 7px;
  top: 4px;
  padding-bottom: 2px;
}

#email {
  height: 22px;
  top: 2px;
}

#linkedin {
  height: 23px;
  top: 2px;
}

/* PORTFOLIO SECTION */
.card {
  grid-column: span 12;
  background-color: #ffffff;
  margin-bottom: 0;
}

.card-item {
  background-color: #55645c;
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
  padding: 30px;
  padding: 30px;
  padding-bottom: 38px;
  font-family: Courier, monospace;
  border-radius: 10px;
}

.card-item h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
}

.card-item p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 120x;
}

.card-item a {
  text-decoration: none;
  color: #000000;
}

.tech-item {
  height: 50px;
}

.internet {
  height: 19px;
  position: relative;
  top: 1px;
  padding: 7.5px;
  margin-bottom: 5px;
  margin-left: 3px;
}

.github-link {
  margin-bottom: 30px;
}

.devicon-github-plain,
.internet {
  border: 1px solid black;
  border-radius: 5px;
  background: none;
}

.devicon-github-plain:hover,
.internet:hover {
  border: 1px solid grey;
}

.devicon-github-plain {
  padding: 7px;
  box-sizing: content-box;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  bottom: 13px;
}

.tech-icon {
  font-size: 20px;
  line-height: 25px;
}

#see-more-button,
#see-less-button {
  border: 2px solid #534a33;
  border-radius: 0.5em;
  height: 30px;
  width: 100px;
  margin: 18px auto;
  font-size: 16px;
  font-family: Courier, monospace;
}

#see-more-button:hover,
#see-less-button:hover {
  background-color: #a9a9a9;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  /* For mobile phones & small screens: */
  .div-1 {
    height: 200px;
  }

  .card-item {
    margin: 20px 0 0 0;
    border-radius: 0;
    padding: 20px;
  }

  #icons > a > img {
    color: #55645c;
  }

  #see-more-button {
    width: 150px;
  }
}
